lingua-language-detector==2.0.2
numpy==1.22.0
protobuf==6.31.1
python-dotenv==1.1.1
retico_core==0.2.10
retico_googleasr==0.1.5
git+https://github.com/retico-team/retico-language-detection.git
git+https://github.com/retico-team/retico-multilingual-tts.git
soundfile==0.13.1
speechbrain==1.0.3
torch>=2.6,<2.8
TTS==0.22.0
webrtcvad==2.0.10
